*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font: bold 14px Arial, sans-serif;
}
body {
    height: 100%;
    background: white;
    background: radial-gradient(circle, #fff 20%, #ccc);
    background-size: cover;
}


div.calculator{
    width: 325px;
    height: auto;
    
    margin: 100px auto;
    padding: 20px 20px 9px;
      
}

button.clear{
    color: #000000;
    background-color: red;
}

button.number{
    background-color: #C4BBAA;
    color: #000000;
}
button.teken{
    background-color: #79abfc;
    color: #fff;
}

button.is{
    background-color: #B0A9A9;
    color: #000000;
}
